<div class="card">
  <div class="card-header bg-info text-white">
    <div class="text-left">
      Przegląd wiadomości; pokój: {{selection.room}}
      <button class="btn btn-primary" (click)="reload()">reload</button>

    </div>

    <div class="text-right">
      <input class="narrow8" placeholder="wybrany użytkownik" [(ngModel)]="selection.user">
    </div>

  </div>
  <div class="card-body">
    <table class="table table-hover table-striped table-sm">
      <thead>
      <tr>
        <th width="20%"> </th>
        <th width="70%"> </th>
        <th width="10%"> </th>
      </tr>

      </thead>
      <tbody>
      <tr *ngFor="let m of messages">
        <td>{{m.authorNick}}: </td>
        <td>{{m.content}}</td>
        <td>
          <span class="far fa-thumbs-up" (click)="upvote(m)"></span>
          &nbsp;
          <span class="far fa-thumbs-down"></span>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="card-footer">
    <span><input style="width: 90%" placeholder="nowa wiadomość"
                 [(ngModel)]="newmessagecontent"></span>
    <span class="fa fa-paper-plane fa-2x text-primary text-right clickable"
          (click)="sendMessage()"></span>
  </div>

</div>
