<nav class="navbar navbar-dark navbar-expand-sm bg-dark">

  <a class="navbar-brand" routerLink="/">Home</a>

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link"routerLink="/swarm">SwarmController</a>
    </li>
  </ul>

  <ul class="ml-auto navbar-nav">
    <li class="nav-item">
      <div class="input-group" style="max-width: 250px" *ngIf="!loggedIn">
        <input type="text" class="form-control bg-dark text-white" placeholder="user" [(ngModel)]="user">
        <input type="password" class="form-control bg-dark text-white" placeholder="pass" [(ngModel)]="pass">
        <div class="input-group-append">
          <button class="btn btn-outline-info" (click)="loggedIn=!loggedIn">Login</button>
        </div>
      </div>
      <div *ngIf="loggedIn">
        <button class="btn btn-outline-info" (click)="loggedIn=!loggedIn">Logout</button>
      </div>

    </li>
  </ul>

</nav>
