<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10 ">
    <div class="card">
      <div class="card-header h3">
        Kontrolowane urządzenia
      </div>
      <div class="card-body">
        <table class="table table-sm table-hover">
          <thead>
          <tr>
            <td class="w-40">MAC</td>
            <td class="w-10">name</td>
            <td class="w-10">nameA</td>
            <td class="w-10">nameB</td>
            <td class="w-10">nameC</td>
            <td class="w-15">
              <i class="fas fa-lg fa-exclamation-triangle  text-warning" (click)="warn=!warn"
              title="Włącz akcje niebezpieczne"></i>
            </td>
          </tr>
          </thead>
          <tbody>
          <!--tu jest pętla po elemnetach tablicy devices-->
          <tr *ngFor="let d of devices">
            <td class="align-middle ">
              {{d.macAddress}}
            </td>
            <td>
              <input type="text" class="form-control"  [(ngModel)]="d.name">
            </td>
            <td>
              <input type="text" class="form-control"  [(ngModel)]="d.nameA">
            </td>
            <td>
              <input type="text" class="form-control"  [(ngModel)]="d.nameB">

            </td>
            <td>
              <input type="text" class="form-control"  [(ngModel)]="d.nameC">
            </td>
            <td class="align-middle">
              <i class="far fa-lg fa-save mr-2 clickable" (click)="saveDevice(d)"></i>
              <i class="far fa-lg fa-trash-alt text-danger" *ngIf="warn" (click)="deleteDevice(d)"></i>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="row">
          <span class="col-md-4"></span>
          <input type="text" class="form-control col-md-4 mr-2" placeholder="adres MAC"  [(ngModel)]="newMAC">
          <button class="btn btn-outline-info col-md-3" (click)="addMAC()">Dodaj MAC</button>
        </div>
      </div>
      <div class="card-footer ">

      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>

</div>
