<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10 ">
    <div class="card">
      <div class="card-header h3">
        Kontrolowane urządzenia
      </div>
      <div class="card-body">
        <table class="table table-sm table-hover">
          <thead>
          <tr>
            <th class="w-30">MAC</th>
            <th class="w-30">name</th>
            <th class="w-15">nameA</th>
            <th class="w-15">nameB</th>
            <th class="w-15">nameC</th>
            <th class="w-15">do it
              <i class="fab fa-lg fa-gripfire mr-2 text-warning" (click)="warn=!warn"></i>

            </th>
          </tr>
          </thead>
          <tbody>
          <!--tu jest pętla po elemnetach tablicy devices-->
          <tr *ngFor="let d of devices">
            <td>
              {{d.macAddress}}
            </td>
            <td>
              <input type="text" class="form-control"  [(ngModel)]="d.name">
            </td>
            <td>
              <input type="text" class="form-control"  [(ngModel)]="d.nameA">
            </td>
            <td>
              <input type="text" class="form-control"  [(ngModel)]="d.nameB">

            </td>
            <td>
              <input type="text" class="form-control"  [(ngModel)]="d.nameC">
            </td>
            <td>
              <i class="far fa-lg fa-save mr-2" (click)="saveDevice(d)"></i>
              <i class="far fa-lg fa-trash-alt text-danger" *ngIf="warn"></i>
            </td>

          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer ">
        <div class="row">
          <input type="text" class="form-control col-md-9"  [(ngModel)]="newMAC">
          <button class="btn btn-outline-info col-md-3">Dodaj MAC</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>

</div>
