<div class="card card-header bg-info text-white">
  Logowanie
</div>
<div class="card">
  <div class="card-body">
    <div>
      <input type="text" class="narrow8" placeholder="nick" [(ngModel)]="user.nick">
      <input type="password" class="narrow8" placeholder="pass" [(ngModel)]="user.pass">
      <button class="btn btn-success">Zaloguj</button>
    </div>
  </div>

  <div class="card-body">
    <p>Zarzadzanie file-ami:</p>
    <input type="file" ng2FileSelect [uploader]="uploader" />
    <button class="btn btn-primary" (click)="upload_file()">upload</button>
    <input type="text" placeholder="filename" [(ngModel)]="iimg">
  </div>


  <div class="card-footer">
    Wczytany obrazek:
    <img [src]="iimg">
    <!--<img src="http://10.10.0.55:8086/download?filename=ff_s.png">-->
  </div>

</div>
