
<div class="card card-header bg-info text-white">
  Chat admin
</div>
<div class="card">
  <div class="card-body">

    <div>
      <div class="narrow8">Nowy użytkownik</div>
      <input class="narrow8" placeholder="userid" [(ngModel)]="user.nick">
      <button class="btn btn-info" (click)="createUser(user.nick)">Utwórz</button>
    </div>

    <div>
      <div class="narrow8">Nowy chat</div>
      <input class="narrow8" placeholder="nazwa pokoju" [(ngModel)]="newroomid">
      <button class="btn btn-info" (click)="createRoom(newroomid)">Utwórz</button>
    </div>


  </div>
  <div class="card-footer">
    <span> > {{message}}</span>
  </div>

</div>
