
<app-alertbar></app-alertbar>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10 ">

    <div class="card">
      <div class="card-header h3">
        Dane testu
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4 ">
            <input type="text" class="form-control col-10 float-right" placeholder="alias testu"  [(ngModel)]="selectedAlias">
          </div>
          <div class="col-sm-4 ">
            <input type="checkbox" class="form-check-input float-right" [(ngModel)]="isReversed">Test odwrotny
          </div>
          <div class="col-sm-4 ">
            <button class="btn btn-outline-info" (click)="loadTest(selectedAlias)">Uruchom test</button>
          </div>
        </div>
      </div>
    </div>



  <div class="card mt-2">
    <div class="card-header h3">
      Test
      <i class="fas fa-sync-alt clickable float-sm-right"></i>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          {{fullTest}}
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
    <div class="card-footer ">
      {{all(items)}}
    </div>


  </div>


  </div>
</div>
<div class="col-md-1">
</div>

