
<app-alertbar></app-alertbar>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10 ">
    <div class="card">
      <div class="card-header h3">
        Reklamacje pogodowe..
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <select [(ngModel)]="selectedRoom" class="form-control">
              <option [ngValue]="r" *ngFor="let r of rooms"> {{r}}</option>
            </select>
          </div>

          <button class="btn btn-outline-warning col-md-4" (click)="tempTooHigh()">
            <img src="assets/img/heater.svg" class="img-fluid">
          </button>
          <button class="btn btn-outline-info col-md-4" (click)="tempTooLow()">
            <img src="assets/img/winter.svg" class="img-fluid">
          </button>
        </div>
      </div>
      <div class="card-footer ">
        <div>Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>

</div>
