
<app-alertbar></app-alertbar>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10 ">
    <div class="card">
      <div class="card-header h3">
        Temp....
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <select [(ngModel)]="selectedRoom">
              <option [ngValue]="r" *ngFor="let r of rooms"> {{r}}</option>
            </select>
          </div>
          <button class="btn btn-outline-danger col-md-4" (click)="tempTooHigh()">Dodaj MAC</button>
          <button class="btn btn-outline-primary col-md-4" (click)="tempTooLow()">Dodaj MAC</button>
        </div>
      </div>
      <div class="card-footer ">

      </div>
    </div>
  </div>
  <div class="col-md-1">
  </div>

</div>
